<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_port_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_port_panel/left_panel.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>
    <title>Search Port</title>
</head>

<style>
    #search-mac {
        color: black;
    }
</style>


<body>
    {% include 'header.html' %}

    <div class="main-div">
        <div class="label-container">
            <label>Search Port (утилита поиска)</label>
        </div>
        <div class="content-container">
            <div class="left-panel-container">
                 {% include 'search_port_panel/left_panel.html' %}
            </div>

            <div class="right-panel-container">
                <div class="page-label">
                    <img src="{{ url_for('static', filename='img/search_port/micro.png') }}{{ static_ver }}">
                    Поиск портов по MAC
                </div>

                <!-- окно-форма ввода MAC -->
                <div class="window-div"  id="input-form">
                    <label class="window-label">Введите MAC адрес</label>
                    <div class="window-middle">
                        <label>MAC</label>
                        <input class="base-input" type="text" autocomplete="off">
                    </div>
                    <div class="window-buttons">
                        <button onclick="runSingleSearch()" class="base-button">Найти</button>
                        <button onclick="runGlobalSearch()" class="base-button">Глобальный поиск</button>
                    </div>
                </div>

                <!-- окно ожидания загрузки -->
                <div class="window-div" id="search-anim" style="display: none">
                    <label class="window-label">Выполняется поиск..</label>

                    <div class="window-icon">
                        <span class="loader"></span>
                    </div>
                </div>
                
                    <!-- окно ошибки "не найдено" -->
                <div class="window-div" id="search-not-found" style="display: none">
                    <label class="window-label">Не найдено</label>

                    <div class="window-icon">
                        <img class="icon48" src="/static/img/search_port/not_found.png{{ static_ver }}">
                    </div>

                </div>

                <!-- окно ошибки сервера или соединения -->
                <div class="window-div" id="search-error" style="display: none">
                    <label class="window-label">Неизвестная ошибка</label>

                    <div class="window-icon">
                        <img class="icon48" src="/static/img/search_port/cross.png{{ static_ver }}">
                    </div>

                </div>
                
                <div class="result-list">

                </div>
            </div>
        </div>
        
    </div>
</body>
</html>

<script>
    function runGlobalSearch() {
        $("#input-form").hide(0);
        $("#search-anim").fadeIn(500);

        getLoginResult({
            mac: $('.base-input').val()
        })
    }

    function runSingleSearch() {
        $("#input-form").hide(0);
        $("#search-anim").fadeIn(500);

        getLoginResult({
            mac: $('.base-input').val(),
            single: 1
        })
    }

    function getLoginResult(data) {
        $.ajax({
            type: "post",
            url: "/search_port/search/",
            data: data,
            dataType: "text",
            timeout: 60000,
            success: function (response) {
                $("#search-anim").hide();
                $(".result-list").html(response);
                $(".result-list").fadeIn(500);
            },
            error: function (jqXhr, exc) {
                if (jqXhr.status == 404) {
                    
                    setTimeout(function() {
                        $("#search-anim").hide(0);
                        $("#search-not-found").fadeIn(500);
                    }, 500)
                    
                    return;
                }
                setTimeout(function() {
                    $("#search-anim").hide(0);
                    $("#search-error").fadeIn(500);
                }, 500)
                
            }
        });
    }
</script>