<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connect_statements/main.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/connect_statements/modals.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>
    <script src="{{ url_for('static', filename='js/connect_statements/modals.js') }}{{ static_ver }}"></script>
    <script src="{{ url_for('static', filename='js/connect_statements/main.js') }}{{ static_ver }}"></script>
    <title>Доп. заявки</title>
</head>

{% include 'header.html' %}

    <style>

    </style>


    <body>
        <div class="pass-contain">

        </div>

        

        <div class="main-container">
            <div class="folders-panel">
                <div class="top-panel-box">
                    <a class="a-btn" style="margin-left: 10px;" href="javascript: createWinFolder()">Новая папка</a>
                </div>

                <div class="separator"></div>

                <div class="folders-box">

                    
                    <div class="folder" id="folder-open">
                        <div class="folder-icon"><img src="/static/img/folder_all.svg"></div>
                        <a href="javascript: loadOpenStatements(endPoint='open')" class="folder-open">Открытые заявки (ALL)</a>
                    </div>
                    
                    <div class="folder" id="folder-close">
                        <div class="folder-icon"><img src="/static/img/trash.svg"></div>
                        <a href="javascript: loadCloseStatements(endPoint='close')" class="folder-open">Корзина</a>
                    </div>

                    <div class="dynamic-folders">
                    </div>
                </div>
            </div>

            <div class="statements-box">
                <div class="top-panel-box">
                    <a class="a-btn" href="javascript: createWinAddState()">Новая заявка</a>
                </div>

                <div class="separator"></div>

                <div class="list-box">
                </div>
                <div class="list-close-box">
                </div>

            </div>

        </div>

        <div id="root-win"></div>
        <!-- <div class="window-background">
            <div class="window">
                <div class="window-content">
                    <div class="window-top">
                        <div class="window-top-label">Модальное окно</div>
                        <a class="window-top-close">
                            <img class="window-top-close-img" src="/static/img/cross.svg{{ static_ver }}" alt="">
                        </a>
                    </div>
                    <div class="window-middle">
                    </div>
                    <div class="window-bottom">
                        <input class="modal-base-input" type="text" autocomplete="off">
                        <a class="modal-base-button" href="">Закрыть</a>
                        <a class="modal-base-button" href="">Создать</a>
                    </div>
                </div>
                
            </div>
        </div> -->
    </body>


</html>