
<div class="admin-panel-left-data">
    <a href="{{ url_for('admin_users') }}">Список пользователей</a>
    <a href="{{ url_for('add_user') }}">Создать нового пользователя</a>
    <a href="{{ url_for('admin_icmp') }}">Настройки ICMP-мониторинга</a>
    <a href="{{ url_for('admin_gpon') }}">Настройки GPON-интерфейса</a>
    <a href="{{ url_for('admin_gpon_pfl') }}">Настройки GPON-профилей (VLAN)</a>
    <a href="{{ url_for('admin_carbon') }}">Настройки Carbon-интерфейса</a>
    <a href="{{ url_for('admin_nas_params') }}">Настройки Nas (PPPoE) Api</a>
    <a href="{{ url_for('admin_forward_gateway') }}">Настройки Forward-Gateway (VPN)</a>
    <a href="{{ url_for('admin_state') }}">Состояние</a>
    <a href="{{ url_for('admin_logs') }}">Логи сервера</a>
</div>