<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}{{ static_ver }}">
    <title>Document</title>
</head>

{% include 'header.html' %}

<body>
    <div class="admin-panel-div">
        <div class="div-label">Админ панель</div>
        <div class="admin-panel-divs">
            <div class="admin-panel-left-div">{% include 'admin_panel/admin_panel_left.html' %}</div>
            <hr>
            <div class="admin-panel-right-div">
                <div class="admin-panel-right-label">Утилиты</div>
            </div>
            
        </div>
         
    </div>
    
</body>
</html>