<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}{{ static_ver }}">
    <title>Document</title>

    <style>
        input {
            max-width: 110px;
        }

        .td-input input {
            border: none;
        }

    </style>
</head>

{% include 'header.html' %}

<body>
    <div class="admin-panel-div">
        <div class="div-label">Админ панель</div>
        <div class="admin-panel-divs">
            <div class="admin-panel-left-div">{% include 'admin_panel/admin_panel_left.html' %}</div>
            <hr>
            <div class="admin-panel-right-div">
                <div class="admin-panel-right-label">Gpon параметры</div>
                <table style="max-width: 500px; table-layout: fixed;">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Tag</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                        {% for id, form in forms %}
                            <tr>
                                <form method="post" action="{{ url_for('admin_gpon_params', iid=id) }}">
                                    <td class="td-input">{{ form.name() }}</td>
                                    <td class="td-input">{{ form.tag() }}</td>
                                    <td class="td-input">{{ form.ip() }}</td>
                                    <td class="td-input">{{ form.port() }}</td>
                                    <td class="td-input">{{ form.login() }}</td>
                                    <td class="td-input">{{ form.passw() }}</td>
                                    <td>{{ form.submit() }}</td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <a class="flash-{{ category }}">{{ message }}</a>
                {% endfor %}
                
            </div>
            
        </div>
         
    </div>
    
</body>
</html>