<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}{{ static_ver }}">
    <title>Document</title>
</head>

{% include 'header.html' %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: rgb(255, 255, 255);

    }
    table td, th {
        border: 1px rgb(190, 190, 190) solid;
    }

    .input-div {
        white-space: nowrap;

    }
    .input-div input {
        max-width: 150px;
    }

</style>

<body>
    <div class="admin-panel-div">
        <div class="div-label">Админ панель</div>
        <div class="admin-panel-divs">
            <div class="admin-panel-left-div">{% include 'admin_panel/admin_panel_left.html' %}</div>
            <hr>
            <div class="admin-panel-right-div">
                <div class="admin-panel-right-label">NAS API настройки</div>
                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>IP</th>
                            <th>Port</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                        {% for nas in nas_lst %}
                            <tr>
                                <td>{{ nas.id }}</td>
                                <td>{{ nas.name }}</td>
                                <td>{{ nas.ip }}</td>
                                <td>{{ nas.port }}</td>
                                <td>{{ nas.login}}</td>
                                <td>{{ nas.passw }}</td>
                                <td>
                                    <a href="{{ url_for('admin_nas_delete', iid=nas.id) }}">
                                        <img src="{{ url_for('static', filename='img/cross2.png') }}{{ static_ver }}">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div style="margin-top: 20px;">
                    <form action="{{ url_for('admin_nas_add') }}" method="post">
                        <div class="input-div">
                            {{ form.name() }}
                            {{ form.ip() }}
                            {{ form.port() }}
                            {{ form.login() }}
                            {{ form.passw() }}
                        </div>
                        <p>
                            {{ form.submit() }}
                        </p>
                        
                    </form>

                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <a class="flash-{{ category }}">{{ message }}</a>
                    {% endfor %}
                    
                </div>
            </div>
            
        </div>
         
    </div>
    
</body>
</html>