<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}{{ static_ver }}">
    <title>Document</title>
</head>

{% include 'header.html' %}

<body>
    <div class="admin-panel-div">
        <div class="div-label">Админ панель</div>
        <div class="admin-panel-divs">
            <div class="admin-panel-left-div">{% include 'admin_panel/admin_panel_left.html' %}</div>
            <hr>
            <div class="admin-panel-right-div">
                <div class="admin-panel-right-label">Carbon настройки</div>
                <hr>
                <form method="post">
                    <label style="font-weight: bold;">Последнее обновление списка пользователей:</label>
                    <label>{{ last_update }}</label>
                    <p>
                        <a href="{{ url_for('admin_carbon_dump') }}"><img src="/static/img/update_info.png{{ static_ver }}" alt="">Обновить список</a>
                    </p>
                    <hr>
                    <p>
                        {{ form.name.label() }}
                        {{ form.name() }}
                    </p>
                    <p>
                        {{ form.ip.label() }}
                        {{ form.ip() }}
                    </p>
                    <p>
                        {{ form.port.label() }}
                        {{ form.port() }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>

                </form>

                {% for category, message in get_flashed_messages(with_categories=true) %}
                <a class="flash-{{ category }}">{{ message }}</a>
                {% endfor %}
                    
            </div>
            
            
        </div>
         
    </div>
    
</body>
</html>