<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carbon_panel/style_app.css') }}{{ static_ver }}">
    <meta name="viewport" content="width=divice-width, initial-scale=1, width=900">
    <title>Deil Eye</title>
</head>

<body>
    <style>
        .info-row {
            width: 50%;
            background-color: rgb(204, 204, 204);
        }
        .info-row-2 {
            width: 50%;
            background-color: rgb(226, 226, 226);
        }
        .sessions {
            margin-top: 100px;
        }


    </style>
    <a href="javascript: history.go(-2)" class="button1"><img class="imgs1" src="/static/img/return_main.png{{ static_ver }}">Вернуться в HelpDesk</a> <br>
    <a href="javascript: history.go(-1)" class="button1"><img class="imgs1" src="/static/img/carbon32.png{{ static_ver }}">Вернуться в Carbon</a> <br>
    
    <div style="width: 400px;">
        {% for key, val, color in info %}
        <div style="display: flex; width: 98%;">
            {% if color == 0 %}
            <div class="info-row" style="font-weight: bold;">{{ key }}:</div>
                {% if 'Пользователь отключен' in val or 'превышен лимит' in val or 'Недостаточно средств' in val %}
                <div class="info-row" style="color: red;">{{ val }}</div>
                {% else %}
                <div class="info-row">{{ val }}</div>
                {% endif %}
            {% else %}
            <div class="info-row-2" style="font-weight: bold;">{{ key }}:</div>
                {% if 'Пользователь отключен' in val or 'превышен лимит' in val or 'Недостаточно средств' in val %} 
                <div class="info-row-2" style="color: red;">{{ val }}</div>
                {% else %}
                <div class="info-row-2">{{ val }}</div>
                {% endif %}

            {% endif %}
        </div>
        {% endfor %}
    </div>

    <a href="/search_port/search_login/?login={{ info[1][1] }}" class="button1"><img class="imgs1" src="/static/img/search_port.png{{ static_ver }}">Перейти в Search Port</a> <br>

    <div style="font-weight: bold; margin-top: 50px;">Показать сессии</div>
    <div class="calendar" style="width: 400px; display: flex;">
        <div style="display: flex; margin-left: 5px;">
            <div> от </div>
            <input id="first" type="date" value="{{ date }}" style="margin-left: 5px;">
        </div>

        <div style="display: flex; margin-left: 5px;">
            <div> по </div>
            <input id="end" type="date" style="margin-left: 5px;" value="{{ date }}">
        </div>

        <button onclick="showSessions();" id="show-btn" style="margin-left: 15px;">Показать</button>
    </div>

    <div class="sessions">

    </div>
</body>


<script>
    function showSessions() {
        let btn = document.getElementById('show-btn');
        let first_ = document.getElementById('first');
        let end_ = document.getElementById('end');

        let start_date = first_.value.split('-');
        let n_start_date = [start_date[2], start_date[1], start_date[0]].join('.');

        let end_date = end_.value.split('-');
        let n_end_date = [end_date[2], end_date[1], end_date[0]].join('.');

        btn.textContent = 'Загрузка..';
        callAjax(`/carbon/sessions/?first=${n_start_date}&end=${n_end_date}&iid={{ id_user }}`, appendHtml);
    }
    
    function callAjax(url, callback, iid) {
        var xmlhttp;
        // compatible with IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
                if (callback) {
                    callback(xmlhttp.responseText, iid);
                }
            }
        }

        xmlhttp.onerror = function(){
            let btn = document.getElementById('show-btn');
            btn.textContent = 'Показать';
            alert('[connection error] возникли проблемы с сетью')
        }

        xmlhttp.ontimeout = function(){
            let btn = document.getElementById('show-btn');
            btn.textContent = 'Показать';
            alert("[timeout response] сервер не ответил на запрос.");
        }

        xmlhttp.open("GET", url, true);
        xmlhttp.timeout = 10000;
        xmlhttp.send();
    }

    function appendHtml(text) {
        let div_s = document.getElementsByClassName('sessions')[0];
        let btn = document.getElementById('show-btn');
        btn.textContent = 'Показать';
        div_s.innerHTML = text;
    }
</script>
