
.left_panel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(139, 139, 139);
    background-color: white;
    border-radius: 10px;
    border: 1px silver solid;
    overflow: hidden;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.left_panel a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: rgb(134, 134, 134);
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}

.left_panel a img {
    position: static;
    top: 3px;
    margin-right: 10px;
}

.separator {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
    background-color: silver;
}


.left-panel-a-container:hover {
    background-color: rgb(224, 243, 255);
}

/* боковая панель */

