header {
    background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.45);
}

.a-menu-button {
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(to bottom, #cfe7fa 0%,#4c7196 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-left: 5px;
}
.a-menu-button:hover {
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
}
.a-logout {
    margin-right: 10px;
    margin-left: auto;
    font-weight: bold;
    line-height: 50px;
    
}
.div-container-menu {
    height: 50px;
    display: flex;
    
}
.a-open-menu {
    display: none;
}

@media (max-width: 800px) {
    .a-open-menu {
        display: inline;
        height: 50px;
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
        background: linear-gradient(to bottom, #cfe7fa 0%,#4c7196 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        margin-left: 5px;
    }
    .div-container-menu {
        position: absolute;
        display: none;
        top: 50px;
        background-color: rgba(150, 149, 149, 0.822);
        overflow: hidden;
        height: 350px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .a-menu-button {
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 0px;
        display: block;
        height: 11%;
        font-family: sans-serif;
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        background: linear-gradient(to bottom, #cfe7fa 0%,#4c7196 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .a-menu-button:hover {
        background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
    }
}