body {
    font-family: sans-serif;
}

.msg {
    color: red;
    margin-top: 10px;
}

.login-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230, 243, 255);
    width: 360px;
    height: 200px;
    border: 1px solid rgb(45, 94, 122);
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.342);
}

.form-div {
    margin-top: 20px;
}

#username {
    width: 200px;
    height: 20px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 2px;

}

#password {
    width: 200px;
    height: 20px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 2px;
}

#submit {
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: rgb(0, 102, 255);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

#submit:hover {
    background-color: rgb(83, 152, 255);
}

.label-div {
    background-color: rgb(45, 94, 122);
    height: 30px;
    width: 100%;
    font-size: 25px;
    color: white;
}
