<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/helpdesk_panel/helpdesk_chat.css') }}{{ static_ver }}">

<div class="background-window">
    {% if not redirect%}
    <div class="main-container-chat">
    {% else %}
    <div class="main-container-chat" style="border: none; background-color: white; box-shadow: none; left: 15px; top: 30px;">
    {% endif %}

        {% if not redirect%}
        <div class="close-chat">
            <a href="javascript:closeWindowChat();"><div class="close-chat-img"></div></a>
        </div>
        {% else %}
        <script>
            let x = document.getElementsByClassName('main-container-chat')[0];
            x.style.borderRadius = '0px';
        </script>
        <script src="{{ url_for('static', filename='js/helpdesk.js') }}{{ static_ver }}"></script>
        {% endif %}

        {% if not redirect%}
        <div class="main-div-chat">
        {% else %}
        <div class="main-div-chat" style="border: 2px solid;">
        
        {% endif %}

            {% if data %}
                <div class="name-div-chat"> {{ data['name'] }}</div>
                <div class="info-div-chat">
                    <div class="div-number">Найденный номер: <a href="tel:{{ phone_number }}">{{ phone_number }}</a></div>
                    <div class="div-number">Найденный логин: <a>{{ carbon['login'] }}</a></div>
                    <div class="div-number">Carbon Manager: <a href="{{ url_for('carbon_main', login=carbon['name']) }}">{{ carbon['name'] }} (открыть Carbon)</a></div>
                    <div class="div-number">Найти порт: <a href="{{ url_for('search_port_login', login=carbon['login']) }}">Перейти в Search Port</a></div>
                    
                </div>
                <div class="chat-div">
                    {% for i in data['chat'] %}
                        <div>
                            <div class="chat-msg-block">
                                <div class="chat-msg">{{ i[0] }}</div>
                                <div class="chat-sender">{{ i[1] }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            {% endif %}
            
        </div>
        {% if data %}
        <div class="input-div">
            <input class="input-msg" type="text" autocomplete="off" placeholder="Введите текст..">
            <a class="button-to-send" href="javascript:sendMsg({{ data['iid_']}}, '{{ redirect }}');">Отправить</a>
        </div>
        {% endif %}

    </div>
</div>