<link rel="stylesheet" href="{{ url_for('static', filename='css/helpdesk_panel/helpdesk_list.css') }}{{ static_ver }}">

<div class="all-list">
    {% for item in lst %}

        <div class="statement-block">

            <div class="date-block">{{ item.date }}</div>

            <div class="info-block">
                <div class="id-block">{{ item.id }}</div>
                
                <a href="javascript:openWindowChat({{ item.id }});" class="ticket-block">{{ item.info }}</a>
                <a href="../html/helpdesk_chat.html?id={{ item.id }}&redirect=1" target="_blank" class="ticket-block-redirect">Новая&nbsp;вкладка</a>
            </div>

            <div class="state-block">
                
                {% if item.state == 'Ожидает ответа' %}
                    <div class="state-block" style="color: rgb(241, 145, 0);">{{ item.state }}</div>
                {% elif item.state == 'Открыто' %}
                    <div class="state-block" style="color: rgb(226, 0, 0);">{{ item.state }}</div>
                {% endif %}

                <div class="check-block">
                    <input id="{{ item.id }}" class="checkbox" type="checkbox">
                </div>
            </div>
        </div>
        

    {% endfor %}
</div>

