<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/helpdesk_panel/helpdesk.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/helpdesk_panel/v2.css') }}{{ static_ver }}">
    <title>HelpDesk</title>
</head>

<body>

    {% include 'header.html' %}

    <div class="main-div">
        <div class="window-block"></div>

        <div class="empty-div"></div>

        <div class="tool-bar">
            <div class="buttons-block">
                <a href="{{ url_for('carbon_main', create_statement='1') }}"><div class="button-tool" id="btn-add"></div></a>
                <a href="javascript:closeHelpdesk();"><div class="button-tool" id="btn-remove"></div></a>
                <a href="javascript:showHelpDesk();"><div class="button-tool" id="btn-update"></div></a>
            </div>
            <a class="current-user">Текущий carbon-user: {{ current_user.carbon_login }}</a>
        </div>

        <div class="statement-list">
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/helpdesk.js') }}{{ static_ver }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/helpdesk_v2.js') }}{{ static_ver }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>
</body>
</html>