<style>
  .a-loader-text {
    width: 100%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    display: block;
  }

  .a-loader-text-2 {
    width: 100%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    display: block;
  }

  .loading-div {
    width: 100%;
    align-items: center;
  }
  .loading-div-2 {
    width: 100%;
  }
  .l-div-1 {
    width: 100%;
    margin-top: 200px;
  }
  .loader {
    background-image: url('../images/load_cross.png{{ static_ver }}');
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  
</style>

<div class="l-div-1">
    <div class="loading-div">
        <div class="loader"></div>
        
    </div>

    <div class="loading-div-2">
        <a class="a-loader-text">Ошибка загрузки..</a>
        <a class="a-loader-text-2">Biling-сервер не ответил на запрос</a>
        <a class="a-loader-text-2">Обновите страницу</a>
    </div>
</div>