
html, body {
    margin: 0;
}

a, div, label, span, textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset {
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}


.pass-contain {
    display: block;
    height: 80px;
    width: 100%;
}

.folders-panel {
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 100%;
    background-color: transparent;
}

.folder {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;
}

.folder-open {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.folder-open:hover {
    text-decoration: underline;
}

.folder-delete {
    margin-right: 5px;
    margin-left: auto;
}

.folder img {
    height: 25px;
}
.main-container {
    display: flex;
    width: 1200px;
    min-height: 600px;
    background-color: rgb(228, 228, 228);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid silver;

}

.statements-box {
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;

}

.top-panel-box {
    width: 100%;
    height: 50px;
    display: flex;
}

.a-btn {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 150px;
    line-height: 40px;
    margin-right: 15px;
    border-radius: 25px;
    border: 1px solid rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
    transition: 0.2s;
}
.a-btn:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    transition: 0.2s;
}

.separator {
    border-top: 1px solid silver;
}

.list-box {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.statement {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.statement-close {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.statement-date {
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;

}

.statement-label {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.statement-number {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    font-size: 14px;
}

.statement-name {
    margin-left: 5px;
    margin-right: 5px;
}

.statement-whom {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    border: 2px solid rgb(0, 165, 49);
    color: rgb(0, 165, 49);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    height: 20px;
    text-decoration: none;
}

.statement-state {
    width: 20%;
}

.statement-folder {
    height: 35px;
    width: 35px;

}

.statement-delete {
    height: 35px;
    width: 35px;
}


.close-btn {
    margin-top: 5px;
    background-color: rgb(172, 105, 105);
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    border: 1px solid rgb(172, 105, 105);
    display: block;
    width: 80px;
}

.status-open {
    color: red;
}

.status-wait {
    color: orange;
}

.status-close {
    color: rgb(0, 76, 218);
}

.separator-statement {
    height: 5px;
    background-color: transparent;
    width: 100%;
    height: 15px;
}





@media (max-width: 1280px) {
    .main-container {
        width: 980px;
    }
    .folders-panel {
    }

}

@media (max-width: 1024px) {
    .main-container {
        width: 720px;
        flex-direction: column;
    }
    .folders-panel {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .main-container {
        width: 520px;
    }
    .statements-box {

    }

    .top-panel-box {
    }

    .a-btn {
    }
    .a-btn:hover {
    }

    .separator {
    }

    .statement {
        padding: 5px;
    }

    .statement-date {
        width: 20%;
        margin-left: 0;
        font-size: 12px;
    }

    .statement-label {
        width: 60%;
    }

    .statement-number {
        font-size: 12px;
    }

    .statement-name {
        font-size: 14px;
    }

    .statement-whom {
        font-size: 12px;
        height: 15px;
    }

    .statement-state {
        width: 20%;
        font-size: 14px;
    }

    .close-btn {
        font-size: 12px;
        width: 50px;
    }

}

@media (max-width: 568px) {
    .main-container {
        width: 95%;
    }
    .statements-box {

    }

    .top-panel-box {
    }

    .a-btn {
    }
    .a-btn:hover {
    }

    .separator {
    }

    .statement {
        padding: 5px;
    }

    .statement-date {
        width: 20%;
        margin-left: 0;
        font-size: 12px;
    }

    .statement-label {
        width: 60%;
    }

    .statement-number {
        font-size: 12px;
    }

    .statement-name {
        font-size: 14px;
    }

    .statement-whom {
        font-size: 12px;
        height: 15px;
    }

    .statement-state {
        width: 20%;
        font-size: 14px;
    }

    .close-btn {
        font-size: 12px;
        width: 50px;
    }

}

