<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/gpon_panel.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>

    <title>Gpon Panel</title>

    <style>
        #list_ont {
            background-color: rgb(144, 203, 255);
            border-radius: 5px;
        } 
    </style>
</head>
`   
{% include 'header.html' %}
<body>

    <!-- место под всплывающие окна -->
    <div class="place__window"></div>
    

    <div class="main__div">

        <div class="label__div">GPON Interface</div>

        <div class="content__div">

            {% include 'gpon_panel/left_panel.html' %}

            <div class="tree__div">
                <div class="tree__label">Список ONT</div>
                <div class="tree__list">
                    <a href="javascript:openTreeLevel('garage__container')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Gpon блок гараж</a>
                    <div class="nested__div" id="garage__container">
                        <a href="javascript:openTreeLevel('garage__0slot')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Слот 0/0</a>
                        <div class="nested__div" id="garage__0slot">
                            <a href="javascript:ajaxOntList('garage', '0/0', '0', 'garage0__0port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 0</a>
                            <div class="nested__div" id="garage0__0port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '1', 'garage0__1port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 1</a>
                            <div class="nested__div" id="garage0__1port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '2', 'garage0__2port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 2</a>
                            <div class="nested__div" id="garage0__2port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '3', 'garage0__3port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 3</a>
                            <div class="nested__div" id="garage0__3port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '4', 'garage0__4port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 4</a>
                            <div class="nested__div" id="garage0__4port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '5', 'garage0__5port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 5</a>
                            <div class="nested__div" id="garage0__5port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '6', 'garage0__6port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 6</a>
                            <div class="nested__div" id="garage0__6port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/0', '7', 'garage0__7port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 7</a>
                            <div class="nested__div" id="garage0__7port"></div>
                        </div>
                        <a href="javascript:openTreeLevel('garage__1slot')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Слот 0/1</a>
                        <div class="nested__div" id="garage__1slot">
                            <a href="javascript:ajaxOntList('garage', '0/1', '0', 'garage1__0port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 0</a>
                            <div class="nested__div" id="garage1__0port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '1', 'garage1__1port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 1</a>
                            <div class="nested__div" id="garage1__1port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '2', 'garage1__2port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 2</a>
                            <div class="nested__div" id="garage1__2port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '3', 'garage1__3port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 3</a>
                            <div class="nested__div" id="garage1__3port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '4', 'garage1__4port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 4</a>
                            <div class="nested__div" id="garage1__4port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '5', 'garage1__5port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 5</a>
                            <div class="nested__div" id="garage1__5port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '6', 'garage1__6port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 6</a>
                            <div class="nested__div" id="garage1__6port"></div>
                            <a href="javascript:ajaxOntList('garage', '0/1', '7', 'garage1__7port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 7</a>
                            <div class="nested__div" id="garage1__7port"></div>
                        </div>
                    </div>
                    <a href="javascript:openTreeLevel('etag__container')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Gpon блок пятиэтажка</a>
                    <div class="nested__div" id="etag__container">
                        <a href="javascript:openTreeLevel('etag__0slot')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Слот 0/1</a>
                        <div class="nested__div" id="etag__0slot">
                            <a href="javascript:ajaxOntList('etag', '0/1', '0', 'etag1__0port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 0</a>
                            <div class="nested__div" id="etag1__0port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '1', 'etag1__1port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 1</a>
                            <div class="nested__div" id="etag1__1port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '2', 'etag1__2port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 2</a>
                            <div class="nested__div" id="etag1__2port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '3', 'etag1__3port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 3</a>
                            <div class="nested__div" id="etag1__3port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '4', 'etag1__4port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 4</a>
                            <div class="nested__div" id="etag1__4port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '5', 'etag1__5port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 5</a>
                            <div class="nested__div" id="etag1__5port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '6', 'etag1__6port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 6</a>
                            <div class="nested__div" id="etag1__6port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '7', 'etag1__7port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 7</a>
                            <div class="nested__div" id="etag1__7port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '8', 'etag1__8port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 8</a>
                            <div class="nested__div" id="etag1__8port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '9', 'etag1__9port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 9</a>
                            <div class="nested__div" id="etag1__9port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '10', 'etag1__10port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 10</a>
                            <div class="nested__div" id="etag1__10port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '11', 'etag1__11port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 11</a>
                            <div class="nested__div" id="etag1__11port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '12', 'etag1__12port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 12</a>
                            <div class="nested__div" id="etag1__12port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '13', 'etag1__13port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 13</a>
                            <div class="nested__div" id="etag1__13port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '14', 'etag1__14port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 14</a>
                            <div class="nested__div" id="etag1__14port"></div>
                            <a href="javascript:ajaxOntList('etag', '0/1', '15', 'etag1__15port')"><img src="{{ url_for('static', filename='img/gpon/folder.png') }}{{ static_ver }}" alt="">Порт 15</a>
                            <div class="nested__div" id="etag1__15port"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info__div" id="main-info">
                <div class="info__label">Информация</div>
                <div class="info__container">

                </div>
            </div>
        </div>
    </div>

</body>

<script>

    let flagOpenTree = false;
    let selected = "";

    let onuData = {
        gpon: "{{ onu_data.gpon }}",
        slot: "{{ onu_data.slot }}",
        port: "{{ onu_data.port }}",
        onu_id: "{{ onu_data.onu_id }}"
    }

    $(document).ready(function () {
        
        if (onuData.gpon == "etag") {

            openTreeLevel("etag__container");
            openTreeLevel(`etag__0slot`);
            ajaxOntList(onuData.gpon, onuData.slot, onuData.port, `etag1__${onuData.port}port`);
            ajaxOntInfo(onuData.gpon, onuData.slot, onuData.port, onuData.onu_id)


        } else if (onuData.gpon == "garage") {

            openTreeLevel("garage__container");
            openTreeLevel(`garage__${onuData.slot.slice(-1)}slot`);
            ajaxOntList(onuData.gpon, onuData.slot, onuData.port, `garage${onuData.slot.slice(-1)}__${onuData.port}port`);
            ajaxOntInfo(onuData.gpon, onuData.slot, onuData.port, onuData.onu_id)
        }
    });

    // открыть, закрыть ветку 
    function openTreeLevel(id) {
        flagOpenTree = false;
        if ($('#'+id).css('display') == 'block') {
            $('#'+id).css({display: 'none'})
        } else {
            $('#'+id).css({display: 'block'})
            flagOpenTree = true;
        }
    }

    // подгрузка списка ONT с сервера
    function ajaxOntList(gpon, slot, port, input_div) {
        
        openTreeLevel(input_div);
        if (!flagOpenTree) {
            return;
        }

        $('#' + input_div).html(`<a><img src="{{ url_for('static', filename='img/gpon/loading16.gif') }}{{ static_ver }}" alt="">Загрузка..</a>`)
        
        $.ajax({
            type: "POST",
            url: "/gpon_panel/onu_list/",
            data: {'gpon': gpon, 'slot': slot, 'port': port},
            dataType: "json",
            success: function (response) {
                $('#' + input_div).html('')
                ajaxInputDiv(response, input_div);
            }
        });
    }

    function ajaxInputDiv(data, div) {

        if (data.length == 0) {
            $(`<a><img src="{{ url_for('static', filename='img/gpon/empty.png') }}{{ static_ver }}">Порт пуст</a>`).appendTo('#' + div);
        }

        
        for (let i=0; i < data.length; i++) {
            if (data[i]['state'] == 'offline') {
                $(`<a id="${data[i]['gpon']}_${data[i]['slot'].slice(-1)}_${data[i]['port']}_${data[i]['id']}" href="javascript:ajaxOntInfo('${data[i]['gpon']}', '${data[i]['slot']}', '${data[i]['port']}', '${data[i]['id']}')" style='color: rgb(119, 119, 119);'><img src="{{ url_for('static', filename='img/gpon/user.png') }}{{ static_ver }}" alt="">${data[i]['name']}</a>`).appendTo('#' + div);
            } else {
                $(`<a id="${data[i]['gpon']}_${data[i]['slot'].slice(-1)}_${data[i]['port']}_${data[i]['id']}" href="javascript:ajaxOntInfo('${data[i]['gpon']}', '${data[i]['slot']}', '${data[i]['port']}', '${data[i]['id']}')"><img src="{{ url_for('static', filename='img/gpon/user.png') }}{{ static_ver }}" alt="">${data[i]['name']}</a>`).appendTo('#' + div);
            }
            
        }
    }

    function ajaxOntInfo(gpon, slot, port, id) {
        $(selected).css('background-color', 'white');
        selected = `#${gpon}_${slot.slice(-1)}_${port}_${id}`;
        $(`#${gpon}_${slot.slice(-1)}_${port}_${id}`).css('background-color', '#C4DEE9')
        $.ajax({
            type: "post",
            url: "{{ url_for('onu_info_render') }}",
            data: {'gpon': gpon, 'slot': slot, 'port': port, 'iid': id},
            dataType: "text",
            success: function (response) {
                $('.info__container').html(response);
            }
        });
    }


</script>
</html>