

<div class="panel__div">
    <div id="list_ont">
        <img src="{{ url_for('static', filename='img/gpon/list.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_panel') }}">Список ONT</a>
    </div>

    <div id="register_ont">
        <img src="{{ url_for('static', filename='img/gpon/user_reg.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_register') }}">Регистрация ONT</a>
    </div>

    <div id="register_ont_manual">
        <img src="{{ url_for('static', filename='img/gpon/manual_reg.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_register_manual') }}">Ручная регистрация ONT</a>
    </div>

    <div id="traffic_ont">
        <img src="{{ url_for('static', filename='img/gpon/speed.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_traffic_page') }}">Загрузка портов и VLANs</a>
    </div>

    <div id="sn_ont">
        <img src="{{ url_for('static', filename='img/gpon/sn.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_sn_page') }}">Поиск по SN</a>
    </div>

    <div id="mac_table_ont">
        <img src="{{ url_for('static', filename='img/gpon/mac_table.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_mac_page') }}">MAC-table</a>
    </div>

    <div id="signal_table_ont">
        <img src="{{ url_for('static', filename='img/gpon/signal.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_signals_page') }}">Signal-table</a>
    </div>

    <div id="service_ports_ont">
        <img src="{{ url_for('static', filename='img/gpon/srv_settings.png') }}{{ static_ver }}" alt="">
        <a href="{{ url_for('gpon_service_ports_page') }}">Service-Port-table</a>
    </div>

    <div id="save_config">
        <img src="{{ url_for('static', filename='img/gpon/save.svg') }}{{ static_ver }}" alt="">
        <a href="javascript: SaveCfg()">Save Config</a>
    </div>
    
</div>

<div class="block__background">
    <div class="loader__box">
        <div class="loader"></div>
    </div>
    <div class="loader__label">
        Сохранение конфигурации на обоих Gpon-блоках
    </div>
    
</div>

<script>
    function SaveCfg() {

        $('.block__background').css('display', 'block');


        $.ajax({
            type: "post",
            url: "{{ url_for('gpon_save_config') }}",
            data: "save",
            dataType: "json",
            success: function (response) {
                $('.block__background').css('display', 'none');
                alert(response);
            },
            error: function (resp) {
                $('.block__background').css('display', 'none');
                alert('Ошибка сохранения');
            }
        });
    }

</script>