<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/register.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>

    <title>Gpon Panel</title>

    <style>
        #register_ont {
            background-color: rgb(144, 203, 255);
            border-radius: 5px;
        } 
    </style>
</head>
`   
{% include 'header.html' %}
<body>

    <!-- место под всплывающие окна -->
    <div class="place__window"></div>

    <div class="main__div">

        <div class="label__div">GPON Interface</div>
        
        <div class="content__div">

            {% include 'gpon_panel/left_panel.html' %}

            <div class="register__div">
                <div class="window__container">
                    <div class="window__gpon" id="choise-gpon">
                        <label for="">Выберите Gpon блок</label>
                        <div class="buttons__div">
                            <button onclick="autofindGarage()">Гараж</button>
                            <button onclick="autofindEtag()">Пятиэтажка</button>
                        </div>
                    </div>

                    <div class="window__gpon" id="loading-gpon">
                        <label>Поиск незарегистрированных ONT</label>
                        <img src="{{ url_for('static', filename='img/gpon/loading.gif') }}{{ static_ver }}">
                    </div>

                    <div class="window__gpon" id="autofind-notfound">
                        <label><img src="{{ url_for('static', filename='img/gpon/warning16.png') }}{{ static_ver }}">Предупреждение</label>
                        <span>Не удалось найти незарегистрированные ONT</span>
                    </div>

                    <div class="window__gpon" id="error">
                        <label><img src="{{ url_for('static', filename='img/gpon/error.png') }}{{ static_ver }}">Ошибка</label>
                        <span>При выполнении процедуры возникла ошибка, возможно это связанно с плохим соединением</span>
                    </div>

                    <div class="window__gpon" id="notify">
                        <label><img src="{{ url_for('static', filename='img/gpon/good.png') }}{{ static_ver }}">Информация</label>
                        <span>Регистрация ONT успешно завершена</span>
                    </div>

                    <div id="table-div">
                        <table id="autofind-table">
                            <tr>
                                <th>Модель</th>
                                <th>SN</th>
                                <th>Slot</th>
                                <th>Port</th>
                                <th></th>
                            </tr>
                        </table>
                    </div>

                    <div class="window__gpon" id="register_form">
                        <label for="">Параметры регистрации</label>
                        <div class="register__form">
                            <input type="text" id="input_form" placeholder="Введите название" autocomplete="off">
                            <select name="" id="select_form">
                            </select>
                            <button>Зарегистрировать</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>

<script>
    let contextOntObject = {};
        
    function autofindGpon(gpon_name) {

        $('#choise-gpon').css('display', 'none');
        $('#loading-gpon').css('display', 'block');

        $.ajax({
            type: "post",
            url: "/gpon_panel/autofind/" + gpon_name,
            timeout: 60000,
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                    $('#loading-gpon').css('display', 'none')
                    $('#autofind-notfound').css('display', 'block')
                    return;
                }

                $.each(list, function (indexInArray, valueOfElement) { 

                    contextOntObject[indexInArray] = valueOfElement

                    let tableTR = `
                    <tr>
                        <td>${valueOfElement['Ont EquipmentID']}</td>
                        <td>${valueOfElement['Ont SN']}</td>
                        <td>${valueOfElement['slot']}</td>
                        <td>${valueOfElement['port']}</td>
                        <td><button  onclick="openRegisterForm(${indexInArray})">Register</button></td>
                    </tr>
                    `
                    $(tableTR).appendTo('#autofind-table');
                });

                $('#loading-gpon').css('display', 'none')
                $('#autofind-table').css('display', 'block')


            },
            error: function (err) {
                $('#loading-gpon').css('display', 'none')
                $('#error').css('display', 'block')
            }
        });
    }

    function openRegisterForm(contextOntID) {

        let postFormData = contextOntObject[contextOntID]

        $.ajax({
            type: "post",
            url: "/gpon_panel/get_profiles/",
            dataType: "json",
            success: function (pfls) {
                $.each(pfls, function (indexInArray, valueOfElement) { 
                    let pflID = valueOfElement[0];
                    let pflName = valueOfElement[1];

                    $(`<option value="${pflID}">${pflName}</option>`).appendTo('#select_form');
                });
                $('#table-div').css('display', 'none')
                $('#register_form').css('display', 'block')

                $('.register__form button').click(function (e) { 
                    e.preventDefault();

                    let dataForm = validateRegisterForm();

                    if (dataForm) {
                        $('#register_form').css('display', 'none')

                        $('#loading-gpon label').text('Регистрация новой ONT')
                        $('#loading-gpon').css('display', 'block')

                        $.ajax({
                            type: "post",
                            url: "/gpon_panel/register/",
                            data: {
                                gpon: postFormData['gpon'],
                                slot: postFormData['slot'],
                                port: postFormData['port'],
                                model: postFormData['Ont EquipmentID'],
                                sn: postFormData['Ont SN'].split(' ')[0],
                                name: dataForm[0],
                                pfl_id: dataForm[1],
                            },
                            timeout: 30000,
                            dataType: "json",
                            success: function (response) {
                                $('#loading-gpon').css('display', 'none')
                                

                                if ('Failure' in response) {
                                    $('#error label').text('Ответ Gpon блока')
                                    $('#error span').text(response['Failure'])
                                    $('#error').css('display', 'block')
                                    
                                } else if ('error' in response) {
                                    $('#error label').text('Ошибка внутреннего API')
                                    $('#error span').text(response['error'])
                                    $('#error').css('display', 'block')

                                } else {
                                    $('#notify').css('display', 'block')
                                }
                            },
                            error: function (err) {
                                $('#loading-gpon').css('display', 'none')
                                $('#error').css('display', 'block')

                            }
                        });
                    }
                });


            },
            timeout: 3000,
            error: function (err) {
                $('#table-div').css('display', 'none')
                $('#error').css('display', 'block')
            }

        });
    }

    function validateRegisterForm() {
        const pattern = /[a-z, A-Z, 0-9, \-, _, \s, /, \\, (, )]/;

        let form_name = $('#input_form').val();
        let form_profile = $('#select_form').val();

        if (!form_name) {
            alert('Поле названия не должно оставаться пустым')
            return;
        }
        if (!form_profile) {
            alert('Профиль регистрации не выбран')
            return;
        }
        
        for (let char of form_name) {
            if (!pattern.test(char)) {
                alert('Введены недопустимые символы, разрешенные символы в названии (a-z, A-Z, 0-9, /, -, _, (, ))')
                return;
            }
        }

        return [form_name, form_profile]
        
    }

    function autofindEtag() {
        autofindGpon('etag')
    }

    function autofindGarage() {
        autofindGpon('garage')
    }

</script>

</html>