<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/register.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>

    <title>Gpon Panel</title>

    <style>
        #register_ont_manual {
            background-color: rgb(144, 203, 255);
            border-radius: 5px;
        } 
    </style>
</head>
`   
{% include 'header.html' %}
<body>

    <!-- место под всплывающие окна -->
    <div class="place__window"></div>

    <div class="main__div">

        <div class="label__div">GPON Interface</div>
        
        <div class="content__div">

            {% include 'gpon_panel/left_panel.html' %}

            <div class="register__div">
                <div class="window__container">

                    <div class="window__gpon" id="loading-gpon">
                        <label>Поиск незарегистрированных ONT</label>
                        <img src="{{ url_for('static', filename='img/gpon/loading.gif') }}{{ static_ver }}">
                    </div>

                    <div class="window__gpon" id="autofind-notfound">
                        <label><img src="{{ url_for('static', filename='img/gpon/warning16.png') }}{{ static_ver }}">Предупреждение</label>
                        <span>Не удалось найти незарегистрированные ONT</span>
                        <button onclick="backToReg()">Назад</button>
                    </div>

                    <div class="window__gpon" id="error">
                        <label><img src="{{ url_for('static', filename='img/gpon/error.png') }}{{ static_ver }}">Ошибка</label>
                        <span>При выполнении процедуры возникла ошибка, возможно это связанно с плохим соединением</span>
                        <button onclick="backToReg()">Назад</button>
                    </div>

                    <div class="window__gpon" id="notify">
                        <label><img src="{{ url_for('static', filename='img/gpon/good.png') }}{{ static_ver }}">Информация</label>
                        <span>Регистрация ONT успешно завершена</span>
                        <button onclick="backToReg()">Назад</button>
                    </div>

                    <div class="window__gpon" id="reg_form">
                        <label for="">Параметры регистрации</label>
                        <div class="register__form">
                            <div style="text-align: left; margin-left: 10px;">
                                Название <input type="text" id="input_name" autocomplete="off">
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                SN <input type="text" id="input_sn" autocomplete="off">
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                Слот
                                <select style="display: inline;" name="" id="select_slot">
                                    <option value="0/0">0/0</option>
                                    <option value="0/1">0/1</option>
                                </select>
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                Порт
                                <select style="display: inline;" name="" id="select_port">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                Модель
                                <select style="display: inline;" name="" id="select_model">
                                    <option value="8245">HG 8245</option>
                                    <option value="310">HG 310</option>
                                </select>
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                Профиль
                                <select style="display: inline;" name="" id="select_profile">
                                    {% for pfl in profiles %}
                                        <option value="{{ pfl.id }}">{{ pfl.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="text-align: left; margin-left: 10px;">
                                Gpon
                                <select style="display: inline;" name="" id="select_gpon">
                                    <option value="etag">Пятиэтажка</option>
                                    <option value="garage">Гараж</option>
                                </select>
                            </div>
                            <button onclick="registerManual()">Зарегистрировать</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>

<script>
    let contextOntObject = {};
        
    function autofindGpon(gpon_name) {

        $('#choise-gpon').css('display', 'none');
        $('#loading-gpon').css('display', 'block');

        $.ajax({
            type: "post",
            url: "/gpon_panel/autofind/" + gpon_name,
            timeout: 60000,
            dataType: "json",
            success: function (list) {
                if (list.length == 0) {
                    $('#loading-gpon').css('display', 'none')
                    $('#autofind-notfound').css('display', 'block')
                    return;
                }

                $.each(list, function (indexInArray, valueOfElement) { 

                    contextOntObject[indexInArray] = valueOfElement

                    let tableTR = `
                    <tr>
                        <td>${valueOfElement['Ont EquipmentID']}</td>
                        <td>${valueOfElement['Ont SN']}</td>
                        <td>${valueOfElement['slot']}</td>
                        <td>${valueOfElement['port']}</td>
                        <td><button  onclick="openRegisterForm(${indexInArray})">Register</button></td>
                    </tr>
                    `
                    $(tableTR).appendTo('#autofind-table');
                });

                $('#loading-gpon').css('display', 'none')
                $('#autofind-table').css('display', 'block')


            },
            error: function (err) {
                $('#loading-gpon').css('display', 'none')
                $('#error').css('display', 'block')
            }
        });
    }

    function openRegisterForm(contextOntID) {

        let postFormData = contextOntObject[contextOntID]

        $.ajax({
            type: "post",
            url: "/gpon_panel/get_profiles/",
            dataType: "json",
            success: function (pfls) {
                $.each(pfls, function (indexInArray, valueOfElement) { 
                    let pflID = valueOfElement[0];
                    let pflName = valueOfElement[1];

                    $(`<option value="${pflID}">${pflName}</option>`).appendTo('#select_form');
                });
                $('#table-div').css('display', 'none')
                $('#register_form').css('display', 'block')

                $('.register__button').click(function (e) { 
                    e.preventDefault();

                    let dataForm = validateRegisterForm();

                    if (dataForm) {
                        $('#register_form').css('display', 'none')

                        $('#loading-gpon label').text('Регистрация новой ONT')
                        $('#loading-gpon').css('display', 'block')

                        $.ajax({
                            type: "post",
                            url: "/gpon_panel/register/",
                            data: {
                                gpon: dataForm[6],
                                slot: dataForm[2],
                                port: dataForm[3],
                                model: dataForm[4],
                                sn: dataForm[1],
                                name: dataForm[0],
                                pfl_id: dataForm[5],
                            },
                            timeout: 30000,
                            dataType: "json",
                            success: function (response) {
                                $('#loading-gpon').css('display', 'none')
                                

                                if ('Failure' in response) {
                                    $('#error label').text('Ответ Gpon блока')
                                    $('#error span').text(response['Failure'])
                                    $('#error').css('display', 'block')
                                    
                                } else if ('error' in response) {
                                    $('#error label').text('Ошибка внутреннего API')
                                    $('#error span').text(response['error'])
                                    $('#error').css('display', 'block')

                                } else {
                                    $('#notify').css('display', 'block')
                                }
                            },
                            error: function (err) {
                                $('#loading-gpon').css('display', 'none')
                                $('#error').css('display', 'block')

                            }
                        });
                    }
                });


            },
            timeout: 3000,
            error: function (err) {
                $('#table-div').css('display', 'none')
                $('#error').css('display', 'block')
            }

        });
    }

    function validateRegisterForm() {
        const pattern = /[a-z, A-Z, 0-9, \-, _, \s, /, \\, (, )]/;

        let form_name = $('#input_name').val();
        let form_sn = $('#input_sn').val();
        let form_slot = $('#select_slot').val();
        let form_port = $('#select_port').val();
        let form_model = $('#select_model').val();
        let form_profile = $('#select_profile').val();
        let form_gpon = $('#select_gpon').val();

        if (!form_name) {
            alert('Поле названия не должно оставаться пустым')
            return;
        }
        if (!form_sn) {
            alert('Поле SN не должно оставаться пустым')
            return;
        }
        
        for (let char of form_name) {
            if (!pattern.test(char)) {
                alert('Введены недопустимые символы, разрешенные символы в названии (a-z, A-Z, 0-9, /, -, _, (, ))')
                return;
            }
        }

        return [form_name, form_sn, form_slot, form_port, form_model, form_profile, form_gpon]
        
    }

    function autofindEtag() {
        autofindGpon('etag')
    }

    function autofindGarage() {
        autofindGpon('garage')
    }

    function registerManual(e) {
        let dataForm = validateRegisterForm();
        if (dataForm) {
            $('#reg_form').css('display', 'none')
            $('#loading-gpon label').text('Регистрация новой ONT')
            $('#loading-gpon').css('display', 'block')
            $.ajax({
                type: "post",
                url: "/gpon_panel/register_manual/",
                data: {
                    gpon: dataForm[6],
                    slot: dataForm[2],
                    port: dataForm[3],
                    model: dataForm[4],
                    sn: dataForm[1],
                    name: dataForm[0],
                    pfl_id: dataForm[5],
                },
                timeout: 30000,
                dataType: "json",
                success: function (response) {
                    $('#loading-gpon').css('display', 'none')
                    
                    if ('Failure' in response) {
                        $('#error label').text('Ответ Gpon блока')
                        $('#error span').text(response['Failure'])
                        $('#error').css('display', 'block')
                        
                    } else if ('error' in response) {
                        $('#error label').text('Ошибка внутреннего API')
                        $('#error span').text(response['error'])
                        $('#error').css('display', 'block')
                    } else {
                        $('#notify').css('display', 'block')
                    }
                },
                error: function (err) {
                    $('#loading-gpon').css('display', 'none')
                    $('#error').css('display', 'block')
                }
            });
        }
    };

    function backToReg() {
        $('#reg_form').css('display', 'block')
        $('#loading-gpon').css('display', 'none')
        $('#autofind-notfound').css('display', 'none')
        $('#error').css('display', 'none')
        $('#notify').css('display', 'none')
    }

</script>

</html>