<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/sn_panel.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>

    <title>Gpon Panel</title>

    <style>
        #sn_ont {
            background-color: rgb(144, 203, 255);
            border-radius: 5px;
        } 
    </style>
</head>
`   
{% include 'header.html' %}
<body>

    <!-- место под всплывающие окна -->
    <div class="place__window"></div>

    <div class="main__div">

        <div class="label__div">GPON Interface</div>

        <div class="content__div">

            {% include 'gpon_panel/left_panel.html' %}
            
            <div class="sn-main-div">
                <div class="sn-gpon" id="choise-gpon">
                    <label>Поиск по SN</label>
                    <div><input type="text" id="sn-input" placeholder="Введите SN" autocomplete="off"></div>
                    <div>
                        <button onclick="runSearchGarage()">Гараж</button>
                        <button onclick="runSearchEtag()">Пятиэтажка</button>
                    </div>
                </div>

                <div class="sn-gpon" id="searching-gpon">
                    <label>Выполняется поиск..</label>
                    <div>
                        <textarea id="log" cols="30" rows="10" readonly></textarea>
                    </div>
                </div>

                <div class="sn-gpon" id="success">
                    <label>Поиск завершен</label>
                    <div style="display: flex;">
                        <img src="{{ url_for('static', filename='img/gpon/success.png') }}{{ static_ver }}" style="width: 128px; height: 128px;">
                        <div>
                            <div style="display: flex;"><span style="font-weight: bold;">Gpon блок: </span><span style="margin-left: 5px;" id="gpon"></span></div>
                            <div style="display: flex;"><span style="font-weight: bold;">Слот: </span><span style="margin-left: 5px;" id="slot"></span></div>
                            <div style="display: flex;"><span style="font-weight: bold;">Порт: </span><span style="margin-left: 5px;" id="port"></span></div>
                            <div style="display: flex;"><span style="font-weight: bold;">ID: </span><span style="margin-left: 5px;" id="onu_id"></span></div>
                        </div>
                    </div>
                    <div>
                        <button id="show">Показать</button>
                    </div>
                </div>

                <div class="sn-gpon" id="not-found">
                    <label>Поиск завершен</label>
                    <div>
                        <img src="{{ url_for('static', filename='img/gpon/cross2.png') }}{{ static_ver }}" style="width: 128px; height: 128px;">
                    </div>
                    <span style="margin-bottom: 10px; display: block;">Не удалось найти ONT</span>
                </div>

            </div>
        
        </div>
    </div>

</body>

<script>
    let stop_flag = false;

    let pathGarage = [
        {slot: "0/0", port: "0"},
        {slot: "0/0", port: "1"},
        {slot: "0/0", port: "2"},
        {slot: "0/0", port: "3"},
        {slot: "0/0", port: "4"},
        {slot: "0/0", port: "5"},
        {slot: "0/0", port: "6"},
        {slot: "0/0", port: "7"},
        {slot: "0/1", port: "0"},
        {slot: "0/1", port: "1"},
        {slot: "0/1", port: "2"},
        {slot: "0/1", port: "3"},
        {slot: "0/1", port: "4"},
        {slot: "0/1", port: "5"},
        {slot: "0/1", port: "6"},
        {slot: "0/1", port: "7"}
    ]

    let pathEtag = [
        {slot: "0/1", port: "0"},
        {slot: "0/1", port: "1"},
        {slot: "0/1", port: "2"},
        {slot: "0/1", port: "3"},
        {slot: "0/1", port: "4"},
        {slot: "0/1", port: "5"},
        {slot: "0/1", port: "6"},
        {slot: "0/1", port: "7"},
        {slot: "0/1", port: "8"},
        {slot: "0/1", port: "9"},
        {slot: "0/1", port: "10"},
        {slot: "0/1", port: "11"},
        {slot: "0/1", port: "12"},
        {slot: "0/1", port: "13"},
        {slot: "0/1", port: "14"},
        {slot: "0/1", port: "15"}
    ]

    function searchingGarage(index) {
        if (stop_flag) {
            return;
        }
        if (pathGarage.length == index) {
            $("#searching-gpon").css("display", "none")
            $("#not-found").css("display", "block")
            return;
        }
        let slot = pathGarage[index]["slot"]
        let port = pathGarage[index]["port"]
        let sn = $("#sn-input").val();

        $.ajax({
            type: "post",
            url: "/gpon_panel/onu_list/",
            data: {gpon: "garage", slot: slot, port: port},
            dataType: "json",
            timeout: 10000,
            success: function (response) {
                $("#log").val($("#log").val() + `[Слот ${slot}, Порт ${port}] SN не найден.\n`);

                textarea = document.getElementById("log");
                textarea.scrollTop = textarea.scrollHeight;
                $.each(response, function (indexInArray, valueOfElement) {
                    if (valueOfElement["sn"] == sn) {

                        stop_flag = true;

                        $("#searching-gpon").css("display", "none")
                        $("#success").css("display", "block")
                        $("#gpon").text(valueOfElement["gpon"])
                        $("#slot").text(valueOfElement["slot"])
                        $("#port").text(valueOfElement["port"])
                        $("#onu_id").text(valueOfElement["id"])

                        $("#show").click(function (e) { 
                            e.preventDefault();
                            document.location.href = `
                            /gpon_panel/?gpon=${valueOfElement["gpon"]}&slot=${valueOfElement["slot"]}&port=${valueOfElement["port"]}&onu_id=${valueOfElement["id"]}`
                        });
                        
                    }
                });
                index++;
                searchingGarage(index);
            }
        });
    }

    function searchingEtag(index) {
        if (stop_flag) {
            return;
        }
        if (pathEtag.length == index) {
            $("#searching-gpon").css("display", "none")
            $("#not-found").css("display", "block")
            return;
        }
        let slot = pathEtag[index]["slot"]
        let port = pathEtag[index]["port"]
        let sn = $("#sn-input").val();

        $.ajax({
            type: "post",
            url: "/gpon_panel/onu_list/",
            data: {gpon: "etag", slot: slot, port: port},
            dataType: "json",
            timeout: 10000,
            success: function (response) {

                $("#log").val($("#log").val() + `[Слот ${slot}, Порт ${port}] SN не найден.\n`);

                textarea = document.getElementById("log");
                textarea.scrollTop = textarea.scrollHeight;
                $.each(response, function (indexInArray, valueOfElement) {
                    if (valueOfElement["sn"] == sn) {

                        stop_flag = true;

                        $("#searching-gpon").css("display", "none")
                        $("#success").css("display", "block")
                        $("#gpon").text(valueOfElement["gpon"])
                        $("#slot").text(valueOfElement["slot"])
                        $("#port").text(valueOfElement["port"])
                        $("#onu_id").text(valueOfElement["id"])

                        $("#show").click(function (e) { 
                            e.preventDefault();
                            document.location.href = `
                            /gpon_panel/?gpon=${valueOfElement["gpon"]}&slot=${valueOfElement["slot"]}&port=${valueOfElement["port"]}&onu_id=${valueOfElement["id"]}`
                        });
                        
                    }
                });
                
                index++;
                searchingEtag(index);
            }
        });
    }

    function runSearchGarage() {
        $("#choise-gpon").css("display", "none")
        $("#searching-gpon").css("display", "block")
        searchingGarage(0);   
    }

    function runSearchEtag() {
        $("#choise-gpon").css("display", "none")
        $("#searching-gpon").css("display", "block")
        searchingEtag(0);   
    }
</script>
</html>