<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/generic.css') }}{{ static_ver }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gpon_panel/traffic_panel.css') }}{{ static_ver }}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}{{ static_ver }}"></script>

    <title>Gpon Panel</title>

    <style>
        #traffic_ont {
            background-color: rgb(144, 203, 255);
            border-radius: 5px;
        } 
    </style>
    
</head>
`   
{% include 'header.html' %}
<body>

    <div class="main__div">

        <div class="label__div">GPON Interface</div>
        
        <div class="content__div">

            {% include 'gpon_panel/left_panel.html' %}

            <div class="container-div">
                <div class="choise-gpon" id="vlan-form">
                    <label>VLAN Traffic</label>
                    <div>
                        Gpon блок <select id="gpon-0">
                            <option value="garage">Гараж</option>
                            <option value="etag">Пятиэтажка</option>
                        </select>
                    </div>
                    <div>
                        VLAN id <input id="vlan-id" type="number" min="1" max="4096" placeholder="VLAN id" autocomplete="off" value="1">
                    </div>
                    <div>
                        <button onclick="runPollingVlan()">Показать</button>
                    </div>
                </div>

                <div class="choise-gpon" id="port-form">
                    <label>OLT Port Traffic</label>
                    <div>
                        Gpon блок <select id="gpon-1">
                            <option value="garage">Гараж</option>
                            <option value="etag">Пятиэтажка</option>
                        </select>
                    </div>
                    <div>
                        Слот <select id="slot">
                            <option value="0/0">Слот 0/0</option>
                            <option value="0/1">Слот 0/1</option>
                        </select>
                    </div>

                    <div>
                        Порт <select id="port-select">
                            <option value="0">Порт 0</option>
                            <option value="1">Порт 1</option>
                            <option value="2">Порт 2</option>
                            <option value="3">Порт 3</option>
                            <option value="4">Порт 4</option>
                            <option value="5">Порт 5</option>
                            <option value="6">Порт 6</option>
                            <option value="7">Порт 7</option>
                            <option value="8">Порт 8</option>
                            <option value="9">Порт 9</option>
                            <option value="10">Порт 10</option>
                            <option value="11">Порт 11</option>
                            <option value="12">Порт 12</option>
                            <option value="13">Порт 13</option>
                            <option value="14">Порт 14</option>
                            <option value="15">Порт 15</option>
                        </select>
                                
                    </div>

                    <div><button onclick="runPollingPort()">Показать</button></div>
                </div>

                <div class="choise-gpon" id="traffic" style="width: 400px;">
                    <label>Traffic</label>
                    <div>
                        <div><span id="up">Upload: loading..</span></div>
                        <div><span id="down">Download: loading..</span></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    </div>
        
<script>

    function runPollingVlan() {
        $("#vlan-form").css("display", "none")
        $("#port-form").css("display", "none")
        $("#traffic").css("display", "block")

        updateTrafficVlan()
    }

    function runPollingPort() {

        $("#vlan-form").css("display", "none")
        $("#port-form").css("display", "none")
        $("#traffic").css("display", "block")

        updateTrafficPort()

        
    }

    function updateTrafficPort() {
        $.ajax({
            type: "post",
            url: "/gpon_panel/traffic/port",
            data: {gpon: $("#gpon-1").val(), slot: $("#slot").val(), port: $("#port-select").val()},
            dataType: "json",
            timeout: 10000,
            success: function (response) {

                if ("error" in response) {
                    setTimeout(updateTrafficPort, 3000);
                    return;
                }

                $("#up").text(`Upload: ${response["up"].toFixed(2)} Mb/s`);
                $("#down").text(`Download: ${response["down"].toFixed(2)} Mb/s`);

                updateTrafficPort();
            },
            error: function (err) {
                setTimeout(updateTrafficPort, 3000);
            }
        });
    }

    function updateTrafficVlan() {
        $.ajax({
            type: "post",
            url: "/gpon_panel/traffic/vlan",
            data: {gpon: $("#gpon-0").val(), vlan: $("#vlan-id").val()},
            dataType: "json",
            timeout: 10000,
            success: function (response) {

                if ("error" in response) {
                    setTimeout(updateTrafficVlan, 3000);
                    return;
                }
                
                $("#up").text(`Upload: ${response["up"].toFixed(2)} Mb/s`);
                $("#down").text(`Download: ${response["down"].toFixed(2)} Mb/s`);

                updateTrafficVlan();
            },
            error: function (err) {
                setTimeout(updateTrafficVlan, 3000);
            }
        });
    }
</script>
</body>